* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.col1 {
  flex: 1;
  position: relative;
}

.background-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.logoBox {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.logo-image {
  width: 90px;
  margin-right: 10px;
}

.logo-text {
  font-family: "Norse-Bold", sans-serif;
  font-size: 6rem;
  color: white;
  line-height: 1;
}

.col2 {
  flex: 1;
  padding: 50px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-text {
  margin-bottom: 30px;
}

.intro-text p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  font-size: 1rem;
}

.createAcc {
  padding: 15px;
  background-color: #596d48;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.createAcc:hover {
  background-color: #4e5f3e;
}

.login-link {
  margin-top: 15px;
  font-size: 0.9rem;
}

.login-link a {
  color: green;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.form-group input:focus {
  border-color: lightskyblue;
  background-color: #e3e1e1;
  outline: none;
}

input:invalid {
  border-color: red;
}

@font-face {
  font-family: "Norse-Bold";
  src: url("fonts/Norse-Bold.otf") format("opentype");
}
